.App {
  width: 100vh;
  height: 100vh;
  display: grid;
  place-items: center;
}

.join-room-container{
  display: flex;
  flex-direction: column;
  text-align: center;

}

.join-room-container h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.join-room-container input {
  width:350px;
  height: 40px;
  margin: 7px;
  border: 2px solid #0a0a0a;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.join-room-container button {
  width: 360px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #080808;
  color: #fff;
  cursor: pointer;
}

.join-room-container button:hover {
  background: #383e38;
}